.rotaryEncoder {
  display: flex;
  justify-content: center;
  background-color: #444;
  border-radius: 50%;
  animation: demo_spin 1.5s linear infinite;
}

.dot {
  width: 5px;
  height: 5px;
  background-color: #fefefe;
  border-radius: 50%;
  margin-top: 4px;
}

@keyframes demo_spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
